.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  transition: all .3s;
}
.h0{
  height: 0;
  opacity: 0;
}
@media (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 758px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .container {
    padding: 0;
  }
}
