.filter {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}

.filter input,
.filter select {
    background: #FFFFFF;
    border: 1px solid #E4DFDF;
    border-radius: 12px;
    color: #747688;
    padding: 10px 20px;
    outline: 0;
    margin-top: 10px;
}

.filter [type=reset] {
    transition: all .4s;
}

.filter [type=reset]:hover {
    color: white;
    cursor: pointer;
    background-color: #3498db;
    border-color: #3498db;
}

.filter input {
    padding: 12px 20px;
}

@media (max-width: 758px) {
    .filter {
      grid-template-columns: repeat(2, 1fr);
    }
  }

@media (max-width: 450px) {
    .filter {
        grid-template-columns:  1fr;
        padding-left: 10px;
        padding-right: 10px;
      }


  }